<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
<h2>Button click</h2>
<div>
  <button (click)="clickMe()">Click Me!</button>
</div>
<p>{{clickedMessage}}</p>

<h2>Get value from input by passing event object to component</h2>
<div>
  <input (keyup)="keyUp($event)"/>
</div>
<p>{{keyUpMessage}}</p>


<h2>Get value from input using template reference variable instead of passing event object to component</h2>
<div>
  <input #box (keyup)="1"/>
</div>
<p>{{box.value}}</p>

<h2>Get value from input by passing template reference variable instead of full event object to component</h2>
<div>
  <input #box1 (keyup)="onKeyUp(box1.value)"/>
</div>
<p>{{templateReferenceKeyUpMessage}}</p>


<h2>Get value from input when press enter key</h2>
<div>
  <input #box2 (keyup.enter)="onEnterKeyUp(box2.value)"/>
</div>
<p>{{enterKeyUpMessage}}</p>
